<div class="users-list">
  <div class="user">
    <img src="<%= user.photo %>" alt="user_pic" />
    <div class="user-name">
      <h2><%= link_to user.name, user_path(user.id) %></h2>
      <p class="posts_count">Number of posts: <%= user.posts_counter || 0 %></p>
    </div>
  </div>
</div>