<div class="users_container">
<div>
  <h1>Welcome to my blog App</h1>
  <button class="button border">Sign In</button>
</div>
  <% @users.each do |user| %>
    <%= render "profil", user: user %>
  <% end %>
</div>
