<div class="form_container">
  <%= form_with model: @post, url: user_posts_path, scope: :post do |form| %>
    <div>
      <%= form.text_field :title, placeholder: 'Enter your title', class: "input_form border" %>
    </div>

    <div>
      <%= form.text_area :text, placeholder: 'Enter your title', class: "input_form border" %><br>
    </div>

    <div  class= "input_btn border btn">
      <%= form.submit %>
    </div>
  <% end %>
</div>
